{
    "extends": "eslint:recommended",
    "plugins": [
        "angular"
    ],
    "env": {
        "browser": true
    },
    "globals": {
        "angular": true,
        "module": true,
        "inject": true,
        "_": true,
        "Snap": true,
        "google": true
    },
    "rules": {
        "no-console": 0
    }
}