.login_page{
    .login_left_div{
        height:100vh;
        background: #fff;
    }
    .login_right_div{
        height:100vh;
        background:#2c5f74;
        -webkit-box-shadow: -4px 0px 5px -1px rgba(97,97,97,1);
        -moz-box-shadow: -4px 0px 5px -1px rgba(97,97,97,1);
        box-shadow: -4px 0px 5px -1px rgba(97,97,97,1);
        color:#adadad;
        .login_logo{
            height:64px;
            border-bottom:1px solid #c7c7c7;
            img{
                position: absolute;
                top:25px;
            }
        }
        .login_form{
            padding:150px 70px;
            md-content{
                background: transparent;
                width:100%;
            }
            .login_row{
                margin:0px 0px 0px;
                md-input-container{
                    margin:0px;                    
                }
                label{
                    color:#d0d0d0;
                }
                input{
                    height: auto;
                    border: 0px;
                    color: #c7c7c7;
                    border-radius: 0px;
                    border-bottom: 1px solid #c7c7c7;
                    font-size: 14px;
                    padding: 5px 0px 5px 30px;
                }
                input[type="email"]:before{
                    content:'<';
                }
                .material-icons{
                    position: absolute;
                    top:6px;
                }
                .login_submit{
                    width: 100%;
                    color: #fff;
                    background: #33cc33;
                    margin: 0px;
                    text-transform: capitalize;
                    border: 1px solid #c3c3c3
                }
            }
        }
    }
}