<div id="page-wrapper">
    <toolbar></toolbar>
    <div id="content-wrapper" layout="row">

        <!--overlay background for simulating data process-->
        <div class="overlay" ng-class="{'open_overlay' : vm.openOverlay}">
            <div class="overlay_content" layout="row" layout-align="center center">
                <div class="overlay_text" flex>
                    <img src="../img/simulating.svg">
                <h2>Simulating data on pushing the IOT hub...</h2>
                </div>
            </div>
        </div>
        <!-- ends here-->

       <!-- <sidemenu id="sidebar-wrapper" layout="column"></sidemenu>-->
       <div class="side-pannel " ng-class="{'open_pannel' : vm.togglePannel}">
           <span class="side-pannel-btn blue"  ng-click="vm.togglePannel = !vm.togglePannel">
               <i class="material-icons">{{vm.togglePannel?'keyboard_arrow_right':'keyboard_arrow_left'}}</i>               
            </span>
           <div class="pannel-header">
               <h3 class="heading"><span>Details</span></h3>  
            </div>
            <div class="date-row" layout="row">
                <div  flex="50" class="border-right">
                    <input type="text" class="readonly-date" value="12 MAR 2018" readonly>
                </div>
                <div flex="50" class="temprature">
                    <span>
                        <img src="../img/weather.png"> 18<sup>&#8457;</sup>
                    </span>
                </div>
            </div>
            <div class="filter-row" layout="row" layout-align="space-between center">
                <div flex="50" class="layout-filter" >
                    <md-menu-bar>
                        <md-menu>
                            <md-input-container class="md-block">
                                <label>Select Layout</label>
                                <div ng-click="$mdMenu.open()" class="select_dropdown" ng-class="{'active':vm.myDropdownIsActive}">
                                    <p class="title_label">
                                        <span class="category">{{vm.selectedMenu.category}}</span>
                                        <span class="category_type">({{vm.selectedMenu.subCategory}})</span>
                                    </p>
                                </div>
                            </md-input-container>                            
                                <md-menu-content  class="select_menu">
                                    <md-menu-item ng-repeat="item in vm.menuData">
                                        <div layout="row" ng-class="{'select_layout_menu': vm.selectedMenu.category === item.category}" ng-click="vm.selectedMenu.category !== item.category && vm.selectLayoutOption(item)">
                                            <div class="selected_icon_div">
                                                <div class="selected-icon active_catrgory" ng-if="vm.selectedMenu.category === item.category"><i class="material-icons">&#xE876;</i></div>
                                                </div>
                                            <div class="layout-label">
                                                <p class="title_label">
                                                    <span class="category">{{item.category}}</span>
                                                    <span class="category_type">{{item.subCategory}}</span>
                                                </p>
                                                <p layout="row" class="reading_row"   layout-align="space-between center">
                                                    <span>
                                                        <img src="{{item.powerscott.img}}"> {{item.powerscott.quantity}}
                                                    </span>
                                                    <span>
                                                       <img src="{{item.weather.img}}"> {{item.weather.quantity}}
                                                    </span>
                                                    <span>
                                                        <img src="{{item.sensors.img}}"> {{item.sensors.quantity}}
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </md-menu-item>
                                </md-menu-content>
                          
                        </md-menu>
                     </md-menu-bar>
                </div>
                <div flex="45" class="layout-filter">
                    <md-menu-bar>
                        <md-menu>
                            <md-input-container class="md-block">
                                <label>Select Range</label>
                                <div ng-click="$mdMenu.open()" class="select_dropdown" ng-class="{'active':vm.myDropdownIsActive}">
                                    <p class="title_label">
                                        <span class="category">{{vm.selectedRange.title}}</span>
                                    </p>
                                </div>
                            </md-input-container>                            
                                <md-menu-content  class="select_menu select_date">
                                    <md-menu-item ng-repeat="filterRange in vm.range">
                                        <div layout="row" ng-click="vm.selectedRange.title !== filterRange.title && vm.selectedRangeOption(filterRange)">
                                            <div class="selected_icon_div">
                                                <div class="selected-icon active_catrgory" ng-if="vm.selectedRange.title===filterRange.title">
                                                    <i class="material-icons">&#xE876;
                                                </i>
                                                </div>
                                            </div>
                                            <div class="layout-label">
                                                <p class="title_label">
                                                    <span class="category">{{filterRange.title}}</span>
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </md-menu-item>
                                </md-menu-content>
                          
                        </md-menu>
                     </md-menu-bar>
                </div>
            </div>
            <div class="selected-value-box">
                 <h4>Selected Powerscout</h4>
                 <p class="selected-item"><img src="../img/svg/electric-tower.svg" height="15px">PS1029</p>
                 <ul>
                     <li layout="row">
                         <div class="label" flex="50">Breaker Details</div>
                         <div class="" flex="50"><input type="text" value="New (2013) 3rd floor panel" readonly></div>
                     </li>
                     <li layout="row">
                         <div class="label" flex="50">Breaker label</div>
                         <div class="" flex="50"><input type="text" value="PP31- 3rd FI Eelectrical Rm" readonly></div>
                     </li>
                     <li layout="row">
                         <div class="label" flex="50">Building</div>
                         <div class="" flex="50"><input type="text" value="Building 2" readonly></div>
                     </li>
                     <li layout="row">
                         <div class="label" flex="50">Modbus base address</div>
                         <div class="" flex="50"><input type="text" value="2" readonly></div>
                     </li>
                     <li layout="row">
                         <div class="label" flex="50">Rated Amperage address</div>
                         <div class="" flex="50"><input type="text" value="200" readonly></div>
                     </li>
                     <li layout="row">
                         <div class="label" flex="50">Serial Number</div>
                         <div class="" flex="50"><input type="text" value="5" readonly></div>
                     </li>
                     <li layout="row">
                         <div class="label" flex="50">Type</div>
                         <div class="" flex="50"><input type="text" value="PowerScout 3037" readonly></div>
                     </li>
                 </ul>  
            </div>
            <div class="simulate-row">
               <button class="md-button button" ng-click="vm.openOverlay = !vm.openOverlay">Simulate</button>
            </div> 
            <div class="clearfix"></div> 
        </div>
        <md-content class="main-container trialContainer "  id="trailContent" layout-align="center center" layout-padding>
        <div class="push_content_div" ng-class="{'push_container' : vm.togglePannel}">
        <div class="overview-header" layout="row">
            <div flex="30">
                <h3 class="heading"><span>Building Overview</span></h3>
            </div>
            <div flex="70" layout="row" layout-align="end center">
                <div class="option-box">
                    <span class="icon-box orange"><img src="../img/powerscout.png"></span>
                    <span class="reading-value ">Powerscout- 10</span>
                </div>
                <div class="option-box">
                    <span class="icon-box green"><img src="../img/sensor.png"></span>
                    <span class="reading-value ">Sensors- 10</span>
                </div>
                <div class="option-box">
                    <span class="icon-box violet"><img src="../img/weather.png"></span>
                    <span class="reading-value ">Weather- 1</span>
                </div>
            </div>            
        </div>
        <div class="content-section">
            <div class="content-header" layout="row" layout-align="start">
                <div class="icon-row" layout="row" layout-align="start">
                    <span class="icon orange"><img src="../img/powerscout.png" width="20px" height="20px"></span>
                    <md-button md-no-ink class="md-primary status-btn enabled">Enabled <div class="blue">1</div></md-button>
                    <md-button md-no-ink class="md-primary status-btn disabled">Disabled <div class="ash">1</div></md-button>
                </div>
                <div class="icon-row" layout="row" layout-align="start">
                    <span class="icon green"><img src="../img/sensor.png" width="20px" height="20px"></span>
                    <md-button md-no-ink class="md-primary status-btn enabled">Enabled <div class="blue">1</div></md-button>
                    <md-button md-no-ink class="md-primary status-btn disabled">Disabled <div class="ash">1</div></md-button>
                </div>
            </div>
            <div class="svg-mapping">
               <svg id="svg"></svg>
            </div>
        </div>
            <!-- ui-view for child states starts here -->
            <ui-view class="display-block content_area">
                
            </ui-view>
            <!-- ui-view for child states ends here -->
    </div>
        </md-content>
    </div>
</div>