@import '../../../sass/variable';
@import '../../../sass/mixin';
@import '../../../sass/type';
@import '../../../sass/input';
@import '../../../sass/table';
.push_content_div{
    transition: 0.5s;
}
.trialContainer {
    padding: 0;
    padding: 50px 40px 0px;
    height: 100vh;
    background: #F1F1F1;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
    .trial_view_main {
        flex-wrap: wrap;
        .create_trial_block_inner,
        .trial_block_inner {
            text-align: center;
            background: #fff;
            border: 2px dashed #a1a1a1;
            @include border-radius(5px);
            height: 250px;
            position: relative;
            overflow: hidden;
            // &.no_trials_exist {
            //     height: 300px;
            //     width: 300px;
            //     margin: 0;
            //     top: 50%;
            //     left: 50%;
            //     -webkit-transform: translate(-65%, -50%);
            //     -moz-transform: translate(-65%, -50%);
            //     -ms-transform: translate(-65%, -50%);
            //     -o-transform: translate(-65%, -50%);
            //     transform: translate(-65%, -50%);
            //     .marginTop {
            //         margin-top: 85px;
            //     }
            // }
            button {
                background: #09cacb;
                color: #fff;
                width: 80px;
                height: 80px;
                padding: 0;
                margin: 0;
                min-width: 0;
                @include border-radius(3px);
                .material-icons {
                    font-size: 50px;
                }
                &:hover {
                    background: #09cacb;
                }
                &.marginTop {
                    margin-top: 65px;
                }
                &.yes_button,
                &.no_button {
                    width: auto;
                    height: auto;
                    min-width: 73px;
                    background: rgba(43, 55, 66, 0.4);
                    margin: 0 5px;
                    &:hover {
                        background: rgba(43, 55, 66, 0.4);
                        color: #fff;
                    }
                }
            }
        }
        .create_trial_block {
            .create_trial_block_inner {
                align-items: center;
                justify-content: center;
            }
            button {
                position: relative;
                @include border-radius(50%);
                i.material-icons {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
        .trial_block {
            font-size: 13px;
            line-height: 18px;
            .trial_block_inner {
                border: 1px solid #cfd9de;
                .trial_inner {
                    padding: 12px 15px 0;
                    height: 100%;
                    .trial_block_header {
                        vertical-align: top;
                        margin-bottom: 12px;
                        .trial_logo_wrapper {
                            justify-content: center;
                            .trial_logo {
                                width: 40px;
                                height: 40px;
                                background: #3949ab;
                                @include border-radius(5px);
                                margin: 0 2px;
                            }
                        }
                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                            margin: 8px 0;
                            cursor: pointer;
                        }
                    }
                    .trial_description {
                        color: #808080;
                        margin-bottom: 10px;
                        p {
                            margin: 0 0 5px;
                            min-height: 50px;
                        }
                    }
                    .edit_button {
                        width: 100%;
                        margin-left: -15px;
                        position: absolute;
                        bottom: 36px;
                        button {
                            width: auto;
                            height: 24px;
                            padding: 0 12px;
                            margin: 0 auto;
                            background: $input-default-color;
                            border: none;
                            @include border-radius(5px);
                        }
                    }
                    .trial_block_footer {
                        color: #808080;
                        height: 38px;
                        width: 100%;
                        margin: 0 -15px;
                        padding: 0 20px;
                        text-align: left;
                        position: absolute;
                        bottom: 0;
                        .trial_recent_status {
                            height: 100%;
                        }
                        .trial_recent_status {
                            p {
                                margin: 0px;
                                font-size: 12px;
                            }
                        }
                        .status_bullet {
                            display: inline-block;
                            margin-right: 7px;
                            cursor: pointer;
                        }
                    }
                    .trial_options {
                        color: #999;
                        float: right;
                        margin: 0;
                        position: absolute;
                        right: 8px;
                        background-color: rgba(255, 255, 255, 0.7);
                        border-radius: 50%;
                        padding: 3px;
                        md-fab-toolbar,
                        md-fab-toolbar .md-fab-toolbar-wrapper,
                        .md-fab-action-item {
                            height: 100%;
                        }
                        md-fab-toolbar {
                            .md-fab-toolbar-wrapper {
                                .md-fab-toolbar-content {
                                    margin-top: 10px;
                                    .material-icons {
                                        margin: 2px 0;
                                    }
                                }
                            }
                            &.md-is-open {
                                md-toolbar {
                                    .md-toolbar-tools {
                                        background: #fff;
                                    }
                                }
                            }
                        }
                        md-toolbar {
                            height: 28px;
                            min-height: 28px;
                            color: #999;
                            .md-toolbar-tools {
                                padding: 0;
                                margin: 0;
                                min-height: 28px;
                                background: transparent;
                                .md-fab-action-item {
                                    pointer-events: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #77858f; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #77858f; 
}

.trial_info {
    .trial_downloads,
    .trial_progress,
    .trial_successful,
    .trial_failed {
        height: 100%;
        cursor: pointer;
        justify-content: center;
        span {
            display: inline-block;
            max-height: 20px;
            &.circle_success,
            &.circle_fail,
            &.circle_progress {
                margin-top: 2px;
                margin-right: 4px;
            }
            &.status_value {
                margin-top: 2px;
            }
        }
    }
    .trial_downloads {
        .cloud_upload {
            width: 30px;
            height: 30px;
            margin-top: -6px;
            margin-right: 4px;
        }
        .status_value {
            color: #157efb;
        }
    }
    .trial_failed {
        margin-right: 0;
    }
}

.circle_success,
.circle_fail,
.circle_progress {
    width: 13px;
    height: 13px;
    @include border-radius(50%);
}

.circle_success {
    border: 2px solid;
    border-color: #00ccb2;
    background: #e4fffb;
}

.circle_fail {
    border: 2px solid;
    border-color: #ff6674;
    background: #ffe5e7;
}

.circle_progress {
    border: 2px solid;
    border-color: #ff9d11;
    background: #fffaee;
}

.options_icon {
    cursor: pointer;
    max-height: 24px;
}

md-nav-bar {
    .md-button._md-nav-button {
        line-height: 24px;
        min-height: 28px;
        height: 28px;
        min-width: 45px;
        padding: 2px 5px;
        margin: 0px 15px;
        text-align: center;
        text-transform: capitalize;
    }
}

md-nav-bar.md-default-theme .md-nav-bar,
md-nav-bar .md-nav-bar {
    border: none;
    height: 28px;
}


md-nav-bar.md-default-theme md-nav-ink-bar,
md-nav-bar md-nav-ink-bar {
    color: #007cf0;
    background: #007cf0;
}

.menu-nav-bar {
    padding: 8px 0;
    margin: 8px 0;
}

.content_area {
    height: calc(100vh - 120px);
    padding: 17px 0;
    overflow: auto;
}

.help_section {
    position: absolute;
    left: -27%;
    top: 0;
    bottom: 0;
    width: 25%;
    z-index: 81;
    background: #fff;
    word-wrap: break-word;
    overflow: hidden;
    border-top: 4px solid #558bff;
    padding: 10px;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    overflow: auto;
    color: #535f6d;
    &.help_section_active {
        left: 0;
    }
    .help_close {
        float: right;
        cursor: pointer;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 10px 0;
    }
    h1 {
        font-size: 1.4rem;
        padding: 0 0 6px;
        border-bottom: 1px solid #eee;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
        padding: 0 0 6px;
        border-bottom: 1px solid #eee;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.9rem;
    }
    h6 {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.9rem;
    }
}
.heading{
    /* font-family: serif; */
    font-size: 24px;
    /*text-decoration: underline;*/
    /* line-height: 0; */
    color: #4c4d4d;
    font-weight:100;
        span{
            border-bottom:1px solid #4c4d4d;
        }
    }
/*css for iot*/
.overview-header{
    padding:0px;
    height:64px;
    .heading{
        /* font-family: serif; */
        font-size: 24px;
        /* line-height: 0; */
        color: #4c4d4d;
    }
    .option-box{
            width: 165px;
            position: relative;
            margin-right: 0px;
        .reading-value{
            position: absolute;
            bottom: 0px;
            color: #4c4d4d;
            font-size: 16px;
            border-right: 1px solid #adadad;
            padding-right:5px;
        }   
        .violet ~ .reading-value{border:none;}     
        .icon-box{
            width:32px;
            float:left;
            border:1px solid #fff;
            margin-right:8px;
            height:32px;
            text-align:center;
            border-radius:3px;
            img{vertical-align:-webkit-baseline-middle}
        }
        
    }
    .option-box:nth-last-child(2){
        width:140px;
    }
    .option-box:last-child{
        border-right:none;
        margin-right:0px;
        width:120px;
        .reading-value{
            padding-right:0px;
        }
    }
}
.orange{background: #ff5e00;}
.green{background:#669933;}
.violet{background:#8301ab;}
.content-section{
    padding:0px;
    border: 1px solid #dadada;
    border-radius: 3px;
    background: #fff;
    min-height: 350px;
    height: auto;
    .content-header{
        border-bottom: 1px solid #d8d8d8;
        padding: 10px 15px;
        height: 50px;
        .icon-row{
            border-right: 1px solid #d0d0d0;
            margin-right: 15px;
            padding-right: 15px;
        }
        .icon-row:last-child{border:0px;margin-right:0px;padding-right:0px;}
        .icon{
            width:25px;
            height:25px;
            text-align:center;
            border-radius:3px;
            img{
                vertical-align:middle;
            }
        }
        .status-btn{
            width: 96px;
            height:29px;
            border: 1px solid #d0d0d0;
            border-radius: 3px;
            padding: 4px 30px 4px 10px;
            font-size: 12px;
            margin: 0px 5px;
            color:#595959;
            line-height: 0;
            position: relative;
            min-height: auto;
            div{
                width: 18px;
                height: 18px;
                border-radius: 50%;
                padding: 9px 0px;
                color: #fff;
                position: absolute;
                right: 8px;
                text-align: center;
                top:5px;
                font-size: 10px;
            }
        }
        
    }
    .svg-mapping{
        height:calc(100vh - 194px);
        overflow-x: auto;

        /*svg code for snap js*/
    }
    
}
.blue{
    background: #15a4fa;
}
.ash{
    background: #797979;
}
.side-pannel{
    right: -400px;
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #273D4B;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 50px;
    .side-pannel-btn{
        position: relative;
        width: 20px;
        height: 50px;
        cursor: pointer;
        color: #fff;
        padding: 16px 0px;
        font-size: 20px;
        font-weight: bold;
        float: left;
        margin-left: -20px;
    }
    .pannel-header{
        background: #fff;
        padding: 10px 10px;
        height:50px;
        .heading{margin:0px;}
    }
    .date-row{
        padding:10px;
        .readonly-date{
            padding: 10px;
            background: transparent;
            color: #e0e1e3;
            border: none;
            background: url(../img/calendar.png) no-repeat;
            font-size: 18px;
            background-position: 0px;
            padding-left: 30px;
            background-size: 24px;
        }
        .temprature{
            text-align: right;
            font-size: 18px;
            color: #e0e1e3;
            padding:7px 0px;
            img{
                height:24px;
                vertical-align: sub;
            }
        }
    }
    .border-right{
        border-right:1px solid #3c4e5c;
    }
    .filter-row{
        background-color: #1b2933;
        border-top: 1px solid #538ea6;
        border-bottom: 1px solid #466377;
        height: 80px;
        padding: 15px;
        .layout-filter{
            md-menu{
                width:100%;
            }
            md-menu-bar{
                padding:0px;
                margin:0px;
                border:0px;
                md-input-container{
                    margin:0px 0px;
                    label{
                        margin-bottom:5px;
                        font-size: 14px;
                        color:#4a5359;
                    }
                    .select_dropdown{
                        padding: 0px 18px 0px 0px;
                        width: 100%;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-image: initial;
                        border-bottom: 1px solid #323f48;
                        border-radius: 0px;
                        height: auto;
                        line-height: 20px;
                        background: url('../img/edit.png') no-repeat 98%;
                    }
                }                
            }            
        }
      
    }
    .selected-value-box{
        height:calc(100% - 233px);
        background: #283d4c;
        padding: 15px;
        h4{
            margin: 0px;
            font-size: 14px;
            color: #919aa0;
            font-weight: 100;            
        }
        ul{
            margin:0px;
            list-style: none;
            padding-left:15px;
        } 
        ul li{
            border-bottom:1px solid #3e515e;
            line-height:36px;
            font-size:14px;
            .label {
                color:#61676c;
            }
        }
        ul li:last-child{
            border-bottom:0px;
        }
        input[type="text"]{
            background: transparent;
            color:#fff;
            border:transparent;
            width:100%;
        }
        .selected-item{
            padding-left:10px;
            margin:5px 0px 10px;
            color:#fff;
            img{
                margin-right: 2px;
                vertical-align: sub;
            }
        }
    }
    .simulate-row{
       height: 45px;
        font-size: 14px;
        background: #3f515f;
        text-align: right;
        padding:2px 10px;
    }
    .date-row{
        height:58px;
    }

}
.open_pannel{right:0px;}
.push_container{
    margin-right:400px;
}
.button{
    background: #16a3f9;
    border: none;
    color: #fff;
    padding: 0px 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    min-height: auto;
   text-transform: capitalize;
    height: auto;
    outline: none;
}
.button:hover{
    background: #0d6a92 !important;
}
.selected_icon_div{
    width:18px;
    margin-right:10px;
    .selected-icon{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #65ce64;
        padding: 1px;
        visibility: hidden;
        .material-icons{
            font-size:16px;
            color:#000;
        }
        &.active_catrgory{
            visibility: visible;          
        }
    }
}
.layout-label{
    .title_label{ 
        margin:0px;
        .category{
            color: #b3b3b3;
            font-size: 16px;
            text-transform: capitalize;
        }
        .category_type{
            color:#6e6e6e;
            font-size:14px;
        }
    }
}
.reading_row{
    span{
        color:#4a5359;
        font-size:12px;
        margin-right: 20px;
        img{
            width:13px;margin-right:3px;
        }
    } 
}
.select_menu{
    min-width:200px;   
    background: #1b2933 !important;         
    md-menu-item{
        min-height:auto;
        height:auto;
        border-bottom: 1px solid #3c4e5c;
        padding:0px;
        margin: 3px 15px;
        cursor:pointer;
            .layout-row{
                padding:0px;
            }
    }   
    md-menu-item:last-child{
        border:0px;
    } 
    &.select_date{
        min-width: 150px !important;
        .layout-row{
            padding:5px 0px;
        }
    }        
}
.select_dropdown{
    .title_label{ 
        margin:0px;
        .category{
            color:#b3b3b3;
            font-size:16px;
            text-transform: capitalize;
        }
        .category_type{
            color:#6e6e6e;
            font-size:14px;
        }
    }
    .reading_row {
            margin: 6px 0px 25px;
    }
}
.overlay{
    height: 100%;
    min-height: 500px;
    width: 100%;
    top: 50px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 3;
    text-align: center;
    display:none;
    transition: 0.5s;
    .overlay_content{
        width: 100%;
        height:100%;
        .overlay_text{
            color: #fff;
            h2{
                font-size: 34px;
                font-weight: 100
            }
        }
    }
}
.open_overlay{
    display: block;
}
// CSS for Dynamic SVG map


#svg {
    width: 100%;
    height: 95%;

    .hide {
        visibility: hidden;
    }

    .dialog {
        box-sizing: border-box;
        display: block;
        position: relative;
        padding: 8px;
        width: 50%;
        height: 36px;
        background-color: #22221E;
        border-radius: 3px;

        .dialog-text {
            color: #4a5359;
            font-family: sans-serif;
        }
    

        &::after {
            content: '';
            display: block;
            width: 0; 
            height: 0; 
            margin-top: -18px;
            margin-left: -14px;
            border-top: 7px solid transparent;  
            border-bottom: 7px solid transparent; 
            border-right:7px solid #22221E; 
        }

        .switch {
            display: none;
        }

        
    }

    .icon > .halo {
        opacity: 0;
    }


    .icon:hover > .halo {
        animation: pulse 2s infinite linear;
    }

    
}

@keyframes pulse {
    0% { opacity: 0;}
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/*mozila specific css*/
@-moz-document url-prefix() {
   
}